*{
    padding: 0px;
    margin: 0px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 177, 80);
    background-image: url(./pictures/snake-cartoon-character-png.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:2000px;
}

input {
    margin: 3px;
}

@media (min-width:1100px) {
    input {
        height: 20px;
        width: 20px;
    }
}
